.ticket-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__status {
        padding: 0.8rem;
        font-size: 0.8rem;
        background-color: #e7d5b081;
        border-radius: 25px;
        color: #000;
        min-width: 50px;
        text-align: center;
        font-weight: bold;
    }

    &__actions {
        display: flex;
        column-gap: 1rem;
    }
}

.button__ticket {
    color: #000;
    background-color: #fff;

    &__details {
        border: 2px solid var(--detail-color);
    }

    &__edit {
        border: 2px solid var(--edit-color);
    }

    &__delete {
        border: 2px solid var(--delete-color);
    }
}