<article class="ticket-card">
    <header class="ticket-card__header">
        <div class="ticket-card__date">{{ ticket.createdAt | date:'dd/MM/YYYY' }}</div>
        <h2 class="ticket-card__title">{{ ticket.title }}</h2>
        <div class="ticket-card__status">{{ ticket.status }}</div>
        <div class="ticket-card__author">{{ ticket.author.toUpperCase() }}</div>
    </header>
    <div class="ticket-card__actions">
        <button class="button button__actions button__ticket button__ticket__details" (click)="handleDetailsButtonClick()">
            Détails
        </button>
        <button class="button button__actions button__ticket button__ticket__edit" (click)="handleEditButtonClick()">
            Modifier
        </button>
        <button class="button button__actions button__ticket button__ticket__delete" (click)="handleDeleteButtonClick()">
            Supprimer
        </button>
    </div>
</article>
