<div class="u-wrapper">
    <header class="page__header">
        <button class="button button__header" (click)="handleReturnButtonClick()">
        Retour
        </button>
    </header>

    <app-ticket-form [ticket]="ticket" (updateTicket)="handleUpdateTicket($event)"></app-ticket-form>
        
</div>