<div class="u-wrapper">
    <div class="page__header">
      <h1 class="page__title">Mes Projets</h1>
      
      <app-search (changeSearchInputs)="handleSearchInputsChange($event)"></app-search>
  
      <button class="button button__header" routerLink="/projects/add">
        Ajouter un projet
      </button>
    </div>
  
    <ul class="project-list__list">
      <li class="project-list__item" *ngFor="let project of projects">
        <app-project-card [project]="project" (deleteProject)="handleDeleteProject($event)"></app-project-card>
      </li>
    </ul>
  </div>