
.page {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 2rem;
    }
}

.project-list {

    &__list {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;
        row-gap: 1rem;
    }

    &__item {
        border: 2px solid var(--main-color);
        border-radius: 15px;
        padding: 1rem;
    }
}

