<div class="u-wrapper">
    <div class="page__header">
        <button class="button button__header" routerLink="/">
        Retour
        </button>
    </div>

    <app-project-form [project]="project" (updateProject)="handleUpdateProject($event)"></app-project-form>
        
</div>
