<div class="u-wrapper" [formGroup]="form">
    <form class="form">
        <div class="form__field">
            <label for="name" class="form__label">Nom du projet</label>
            <input type="text" name="name" id="name" class="form__input" formControlName="name">
        </div>
        <div class="form__field">
            <label for="description" class="form__label">Description du projet</label>
            <input type="text" name="description" id="description" class="form__input" maxlength="500" formControlName="description">
        </div>
        <button class="button button__submit" type="submit" (click)="submit()">
            {{project === undefined ? 'Ajouter le projet' : 'Modifier le projet' }}
        </button>
        <ul class="error-list__list" *ngIf="errors">
            <li class="error-list__item" *ngFor="let error of errors" >{{ error }}</li>
        </ul>
    </form>
</div>
