<div class="u-wrapper" [formGroup]="form">
    <form class="form">
        <div class="form__field login-form__field">
            <label for="username" class="form__label">Nom utilisateur</label>
            <input type="text" name="username" id="username" class="form__input" formControlName="username">
        </div>
        <div class="form__field login-form__field">
            <label for="password" class="form__label">Mot de passe</label>
            <input type="password" name="password" id="password" class="form__input" formControlName="password">
        </div>
        <button class="button button__submit" type="submit" (click)="submit()">
            Se connecter
        </button>
        <ul class="error-list__list" *ngIf="errors">
            <li class="error-list__item" *ngFor="let error of errors" >{{ error }}</li>
        </ul>
    </form>
</div>
