<div class="u-wrapper" [formGroup]="form">
    <form class="form">
        <div class="form__field">
            <label for="title" class="form__label">Titre du ticket</label>
            <input type="text" name="title" id="title" class="form__input" maxlength="50" formControlName="title">
        </div>
        <div class="form__field">
            <label for="content" class="form__label">Contenu du ticket</label>
            <input type="text" name="content" id="content" class="form__input" maxlength="1000" formControlName="content">
        </div>
        <div class="form__field">
            <label for="status" class="form__label">Statut du ticket</label>
            <select class="form__input" name="status" id="status" formControlName="status">
                <option value="TODO" [defaultSelected]="true">A faire</option>
                <option value="INPROGRESS">En cours</option>
                <option value="DONE">Terminé</option>
            </select>
        </div>
        <button class="button button__submit" type="submit" (click)="submit()">
            {{ticket === undefined ? 'Ajouter le ticket' : 'Modifier le ticket' }}
        </button>
        <ul class="error-list__list" *ngIf="errors">
            <li class="error-list__item" *ngFor="let error of errors" >{{ error }}</li>
        </ul>
    </form>
</div>
