<div class="u-wrapper">
    <header class="page__header">
        <button class="button button__header" (click)="handleReturnButtonClick()">
        Retour
        </button>
    </header>

    <article class="ticket-details">
        <div class="ticket-details__header">
            <h2 class="ticket-details__title">{{ ticket?.title }}</h2>
            <div class="ticket-details__actions">
                <button class="button button__actions button__edit" (click)="handleEditButtonClick()">
                    Modifier
                </button>
                <button class="button button__actions button__delete" (click)="handleDeleteButtonClick()">
                    Supprimer
                </button>
            </div>
        </div>
        <div class="ticket-details__infos">
            <div class="ticket-details__date">
                <span class="ticket-details__label">Date de création </span>
                {{ ticket?.createdAt | date:'dd/MM/YYYY' }}
            </div>    
            <div class="ticket-details__status">
                <span class="ticket-details__label">Statut </span>
                <span *ngIf="ticket?.status === 'TODO'">A faire</span>
                <span *ngIf="ticket?.status === 'INPROGRESS'">En cours</span>
                <span *ngIf="ticket?.status === 'DONE'">Terminé</span>
            </div>  
            <div class="ticket-details__content">
                <span class="ticket-details__label">Auteur </span>
                {{ticket?.author?.toUpperCase()}}
            </div> 
            <div class="ticket-details__content">
                <span class="ticket-details__label ticket-details__label--block">Contenu </span>
                {{ticket?.content}}
            </div> 
        </div>  
    </article>
</div>

