.ticket-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    &__infos {
        margin-top: 4rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 2rem;
        font-size: 1.5rem;
        border: 2px solid var(--main-color);
        border-radius: 15px;
    }

    &__title {
        font-weight: bold;
        font-size: 2rem;
    }

    &__actions {
        display: flex;
        column-gap: 1rem;
    }

    &__label {
        font-weight: bold;
        display: block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

