<header class="header">
    <div class="header__left">
      <a class="header__link" routerLink="/">
        Zira
      </a>
    </div>
  
    <div class="header__right">
        <ng-content select="[header-right]"></ng-content>
    </div>
</header>