.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 2rem;

    &__link {
        font-size: 4rem;
        font-weight: bold;
    }
}

