<div class="u-wrapper">
    <header class="page__header">
        <button class="button button__header" routerLink="/">
        Retour
        </button>
    </header>

    <article class="project-details">
        <div class="project-details__header">
            <h2 class="project-details__title">{{ project?.name }}</h2>
            <div class="project-details__author">{{ project?.author?.toUpperCase() }}</div>
            <div class="project-details__date">Créé le: {{ project?.createdAt | date:'dd/MM/YYYY' }}</div>
            <div class="project-details__actions">
                <button class="button button__actions button__add" (click)="handleAddTicketButtonClick()">
                    Ajouter un ticket
                </button>
                <button class="button button__actions button__edit" (click)="handleEditButtonClick()">
                    Modifier
                </button>
                <button class="button button__actions button__delete" (click)="handleDeleteButtonClick()">
                    Supprimer
                </button>
            </div>
        </div>
        <div class="project-details__description">
            {{ project?.description }}
        </div>

        <ul class="project-details__tickets">
            <li class="project-details__tickets__item" *ngFor="let ticket of project?.tickets">
                <app-ticket-card [projectId]="project?.id" [ticket]="ticket" (deleteTicket)="handleDeleteTicket($event)"></app-ticket-card>
            </li>
        </ul>
    </article>
</div>
