.project-details {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    &__date {
        font-size: 1.1rem;
    }

    &__title {
        font-weight: bold;
        font-size: 2rem;
    }

    &__actions {
        display: flex;
        column-gap: 1rem;
    }

    &__description {
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    &__tickets {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;
        row-gap: 1rem;

        &__item {
            border: 2px solid var(--main-color);
            border-radius: 15px;
            padding: 1rem;
        }
    }
}

