<nav class="menu">
    <a 
    routerLink="/" 
    class="menu__item"
    routerLinkActive="is-active"
    [routerLinkActiveOptions]="{ exact: true }"
    >
        Projets
    </a>
    <a 
    routerLink="/login" 
    class="menu__item"
    routerLinkActive="is-active"
    *ngIf="!(isLoggedIn | async)"
    >
        Se connecter
    </a>
    <a 
    routerLink="#" 
    class="menu__item"
    routerLinkActive="is-active"
    *ngIf="!(isLoggedIn | async)"
    >
        S'inscrire
    </a>
    <a
    class="menu__item"
    routerLinkActive="is-active"
    *ngIf="(isLoggedIn | async)"
    (click)="handleLogoutClick()"
    >
        Se déconnecter
    </a>
</nav>
