.menu {
    display: flex;
    column-gap: 2rem;

    &__item {
        cursor: pointer;
        padding:1rem;
        font-size: 1rem;
        font-weight: bold;
        background: #ddd;
        border-radius:15px;
        width: 200px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .04em;
        transition: transform 0.2s ease-in-out;
        transform: translateZ(0);

        &:hover {
        transform: scale(1.1) translateZ(0);
        }

        &.is-active {
            background-color: #0000008a;
            color: #fff;
            font-size: 1.1rem;
            transform: scale(1.1) translateZ(0);
        }
    }
}