/****** RESET ********/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Améliorations */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
del,
ins {
  text-decoration: none;
}
a {
  color: inherit;
}

label,
button {
  cursor: pointer;
}

input,
button {
  outline: 0;
}

/****** RESET ********/

:root {
 --main-color: #f39c12;
 --detail-color: #457b9d;
 --edit-color: #52796f;
 --delete-color: #bc4749;
 --add-color: #7392b7;
}

body,
html {
  min-height: 100%;
  height: 100%;
}

.u-wrapper {
  margin: 0 auto;
  padding: 3em 0;
  width: 80%; 
}

.button {
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.2rem;
  min-width: 200px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
  border: none;
  transform: translateZ(0);

  &:hover {
    transform: scale(1.02) translateZ(0);
  }

  &__header {
      background-color: #fff;
      color: var(--main-color);
      border: 3px solid var(--main-color);
      border-radius: 25px;
  }

  &__submit {
    background-color: var(--main-color) ;
    color: #fff;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    width: 300px;
}

  &__actions {
      min-width: 150px;
      font-size: 1rem;
      color: #fff;
  }

  &__details {
      background-color: var(--detail-color);
  }

  &__edit {
      background-color: var(--edit-color);
  }

  &__delete {
      background-color: var(--delete-color);
  }

  &__add {
    background-color: var(--add-color);
  }
}

.error-list {
  &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
  }

  &__item {
      color: rgb(255, 80, 80);
      font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  &__field {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      width: 100%;
  }

  &__label {
      font-size: 1.2rem;
  }

  &__input {
      padding: 1rem;
      border-radius: 15px;
  }
}

