<div class="u-wrapper">
    <div class="page__header">
        <button class="button button__header" routerLink="/">
        Retour
        </button>
    </div>

    <app-ticket-form (createTicket)="handleCreateTicket($event)"></app-ticket-form>
        
</div>
