<article class="project-card">
    <header class="project-card__header">
        <div class="project-card__date">{{ project.createdAt | date:'dd/MM/YYYY' }}</div>
        <h2 class="project-card__title">{{ project.name }}</h2>
        <h2 class="project-card__author">{{ project.author.toUpperCase() }}</h2>
    </header>
    <div class="project-card__actions">
            <button class="button button__actions button__details" (click)="handleDetailsButtonClick()">
                Détails
            </button>
            <button class="button button__actions button__edit" (click)="handleEditButtonClick()">
                Modifier
            </button>
            <button class="button button__actions button__delete" (click)="handleDeleteButtonClick()">
                Supprimer
            </button>
    </div>
</article>
