.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__actions {
        display: flex;
        column-gap: 1rem;
    }
}