<form class="search-form" [formGroup]="searchForm">
  <div class="search-form__field">
    <input class="search-form__input" type="text" placeholder="Rechercher un projet" formControlName="query"
      (ngModelChange)="handleChangeInput()" />
  </div>
  <div class="search-form__checkbox" *ngIf="(isLoggedIn | async)">
    <label class="search-form__checkbox__label" for="isUserAuthor">Filtrer mes projets</label>
    <input type="checkbox" class="search-form__checkbox__input" name="isUserAuthor" id="isUserAuthor"
      formControlName="isUserAuthor" (ngModelChange)="handleChangeInput()">
  </div>
</form>