.search-form {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    &__checkbox {
        padding: 1rem;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        min-width: 300px;

        &__label {
            font-size: 1.2rem;
        }
    }

    &__input {
        padding: 1rem;
        border-radius: 25px;
        font-size: 1.2rem;
        min-width: 300px;
    }
}